// Variables
$card-bg-color: rgba(0, 0, 0, 0.8);
$text-color: white; // Color blanco para el texto general
$highlight-color: black; // Color negro para los textos específicos
$button-bg: black;
$button-text: white;
$background-image: url('/assets/imgs/imagen1.jpg'); // Ruta a tu imagen de fondo

ion-header {
  --background: transparent;
}

.header-title {
  color: $text-color; // Color blanco para el título del header
  font-weight: bold; // Negrita
  text-align: center; // Centrar texto
}

.ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; // Centra el contenido verticalmente
  height: 100%;
  padding: 0 16px; // Añadir espacio lateral
  background-image: $background-image; // Añadir imagen de fondo
  background-size: cover; // Ajusta la imagen para cubrir todo el contenedor
  background-position: center; // Centra la imagen
  background-repeat: no-repeat; // No repetir la imagen
}

.form-container {
  width: 100%;
  max-width: 400px; // Ajusta el tamaño máximo
  margin-top: 20vh; // Ajusta la distancia desde la parte superior
  margin-left: 34%; // Mueve la tarjeta más hacia el lado izquierdo (ajusta el valor según necesidad)
  margin-right: 10%; // Ajusta el margen derecho si es necesario
  display: flex;
  flex-direction: column;
  align-items: center; // Centrar horizontalmente el contenido del formulario
  background-color: rgba(0, 0, 0, 0.5); // Fondo semi-transparente para el contenedor del formulario
  border-radius: 8px; // Bordes redondeados
  padding: 20px; // Espacio interno
}

.form-title {
  font-size: 1.5rem; // Tamaño de fuente del título
  color: $text-color; // Color del texto del título
  font-weight: bold; // Negrita
  margin-bottom: 20px; // Espacio debajo del título
}

.input-item, .action-button {
  width: 100%; // Asegura que los inputs y el botón ocupen el 100% del contenedor
}

.action-button {
  margin-top: 20px;
}

.password-fields {
  display: flex;
  flex-direction: column;
  align-items: center; // Centrar campos de contraseña horizontalmente
  width: 100%;
}

.error-text {
  color: $text-color;
  font-size: 0.9rem;
  margin: 5px 0;
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
    padding: 0 10px; // Ajustar el padding en pantallas pequeñas
    margin-left: 0; // Ajustar el margen en pantallas pequeñas
    margin-right: 0; // Ajustar el margen en pantallas pequeñas
  }

  .input-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }
}