<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Bienvenido!</strong>
    <p>Usuario: {{ usuario.usuario }}</p>
    <a href="#">Enlace de ejemplo</a>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Información adicional</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formulario">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>Nombre</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input formControlName="nombre" placeholder="Ingrese Nombre"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>Apellido</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input formControlName="apellido" placeholder="Ingrese Apellido"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>Nivel Educación</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-select formControlName="nivelEducacion" placeholder="Seleccione Nivel">
                <ion-select-option value="primaria">Primaria</ion-select-option>
                <ion-select-option value="secundaria">Secundaria</ion-select-option>
                <ion-select-option value="universitaria">Universitaria</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>Fecha Nacimiento</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-input formControlName="fechaNacimiento" placeholder="Fecha Nacimiento" type="date"></ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-button expand="full" class="action-button" (click)="limpiar()">Limpiar</ion-button>
        <ion-button expand="full" class="action-button" (click)="mostrar()">Mostrar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <!-- Botón para "volver" -->
        <ion-tab-button tab="volver" (click)="navigateBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <ion-label>Volver</ion-label>
        </ion-tab-button>

        <!-- Botón para escanear código QR -->
        <ion-tab-button tab="scanner" (click)="openScanner()">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-label>Escanear</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
